@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);


html {
  box-sizing: border-box;
  background-color: #5B5E66;
    margin: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.mastHead h1{
    background-color: #A1A5B2; 
    padding: 25px 35px 10px 25px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #E6E7EA;
    font-size: auto;
}
.mastHead h2{
    background-color: #A1A5B2; 
    padding: 0px 40px 25px 50px;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    color: #E6E7EA;
    font-size: auto;
}

.myForm{
    padding: 30px 30px 680px 30px;
    width:auto;
    margin: auto;
    background:#E6E7EA;
    font-family: 'Ubuntu', sans-serif;
}

label{
    visibility: hidden;
    color: #5C5E66;
}

.elementContainer4 input{
    margin-top: 15px;
    margin-bottom: 25px;
}

.elementContainer4 label {
    visibility: visible;
    padding-left: 11px;
    color: darkgray;
    font-family: Arial, san-serif;
    font-size: 15px;
    position:absolute;
    padding-top: 3px;
}

input{
    width: 100%;
    height: 25px;
    padding-left: 10px;
}

placeholder{
    font-family: 'Ubuntu', sans-serif;
}

label, input{
    display: block;
}


.subButton{
    width: 100px;
    height: 25px;
    background-color: #5C5E66;
    color: #E6E7EA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

@media only screen and (min-width: 600px) and (max-width: 1024px){

    label{
        visibility:visible;
    }
    
    .elementContainer4 label {
        color: #5C5E66;
        padding: 0px;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .elementContainer1{
        float:left;
        width: 48%;
        margin-bottom: 30px;

    }
    
    .elementContainer2{
         float:right;
         width: 48%;
         margin-bottom: 30px;
        
    }
    
    .elementContainer3{
        float:left;
        width: 48%;
        margin-bottom: 30px;
    }
    
    .elementContainer4 label{
        position: inherit;
         float:right;
         width: 48%;
    }
    
    .elementContainer4 input{
        position: inherit;
        float:right;
        width: 48%;
        margin: 0px;
    }
    
    .subButton{
        clear: both;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 2000px){
    
    label{
        visibility:visible;
    }
    
    .elementContainer4 label{
        color: #5C5E66;
        padding: 0px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
    }
    
    .elementContainer1 label{
        float:left;
        width: 13%;
        margin-bottom: 30px;

    }
    
    .elementContainer1 input{
        float:left;
        width: 35%;
        margin-bottom: 30px;

    }
    
    
    .elementContainer2 label{
        
         float:left;
         width: 13%;
         margin-bottom: 30px;
         padding-left: 50px;
        
    }
    
    .elementContainer2 input{
         float:right;
         width: 35%;
         margin-bottom: 30px;
        
    }
    
  
    .elementContainer3 label{
        clear:both;
        float:left;
        width: 13%;
        margin-bottom: 30px;

    }
    
    .elementContainer3 input{
        float:left;
        width: 35%;
        margin-bottom: 30px;

    }
    
    .elementContainer4 label{
        position: inherit;
        float:left;
        width: 13%;
        margin-bottom: 30px;
        padding-left: 50px;

    }
    
    .elementContainer4 input{
         float:right;
         width: 35%;
         margin: 0px;
    }
    
    .subButton{
        clear: both;
    }
    
}
